<footer>
  <p id="legal" class="container-fluid center-block text-center mt-4 p-3">
    <small>&copy;</small> <span class="copyright-year"></span>
    A class project by Luna Reichert.
  </p>
</footer>
