<div id="jumbo" class="jumbotron-fluid p-5 mb-4 bg-light d-flex">
  <div class="container-fluid py-5 text-center">
    <h1 class="display-5">Luna's Food Guide</h1>
    <p>To Austin</p>
  </div>
</div>