{% block content %}

<div class="container-fluid row row-cols-1 row-cols-md-2 g-4">
  {% for restaurant in lists.stops %}
  <div class="col">
    <div class="card">
      <img src="../img/{{ restaurant.slug }}.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{ restaurant.restaurant }}</h5>
        <p class="card-text">{{ restaurant.blurb }}</p>
        <a href="{{ restaurant.url }}" class="btn btn-success">Check out the website</a>
      </div>
    </div>
  </div> 
  {% endfor %}
</div>
{% endblock %}