{% extends '_templates/base.njk' %}

{% block page_title %}best of{% endblock %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col">
        <h1> Hello! </h1>
        <p> Welcome to my food guide to Austin! Take a look around and explore some of my favorites that I have disocvered over the past three years in Austin! </p>
    </div>
  </div>
</div>

<div class="container">
  {% for bests in bestof.bests %}
  <div class="row justify-content-center">
    <div class="col col-sm-12 col-md-9 col-lg-9">  
      <h3 class="category">{{ bests.category }} </h3>
      <h6 class="title">{{ bests.name }} </h6>
      <p class="price"> {{ bests.price }} </p>
      <hr>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}