{% extends '_templates/base.njk' %}

{% block page_title %}home{% endblock %}
{% block content %}
<div class="container">
   <div class="row justify-content-center">
    <div class="col col-sm-12 col-md-9 col-lg-9">
        <h1> Hello! </h1>
        <p> Welcome to my food guide to Austin! Take a look around and explore some of my favorites that I have disocvered over the past three years in Austin! </p>
    </div>
  </div>
</div>
{% endblock %}