{% extends '_templates/base.njk' %}

{% block page_title %}Home{% endblock %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col">
        <h1> Hello! </h1>
        <p> Welcome to my food guide to Austin! Take a look around and explore some of my favorites that I have disocvered over the past three years in Austin! </p>
    </div>
  </div>
</div>
{% endblock %}