{% extends '_templates/base.njk' %}

{% block page_title %}lunch{% endblock %}

{% block page_description %}A list of the best lunch stops in Austin.{% endblock %}

{% block content %}
<article class="container">
  <h1>lunch recommendations</h1>
  <p>best midday stops in austin</p>
</article>
{% endblock %}
