{% extends '_templates/base.njk' %}

{% block page_title %}lunch{% endblock %}

{% block page_description %}A list of the best lunch stops in Austin.{% endblock %}

{% block content %}
<article class="container">
  <h1>lunch recommendations</h1>
  <p>best midday stops in austin</p>
</article>

<div class="container-fluid row row-cols-1 row-cols-md-2 row-cols-lg-2 g-4">
  {% for restaurant in lists.lunch %}

  <div class="col">
    <div class="card">
      <img src="img/{{ restaurant.slug }}.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{ restaurant.restaurant }}</h5>
        <p class="card-text">{{ restaurant.blurb }}</p>
        <a href="{{ restaurant.url }}" class="btn btn-success">Check out the website</a>
      </div>
    </div>
  </div> 
{% endfor %}
</div>
{% endblock %}

