.content {
    background-color: $secondary-color;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
    }  
  
    .card {
      background-color: $primary-color;
      color: $secondary-color;
    }
  
    .btn {
      background-color: $secondary-color;
      color: $primary-color;
    }