#jumbo {
    background: url(../img/jumbo.jpg) no-repeat center;
    background-size: cover;
    padding-top: 12rem;
    color: #f1ead0 !important;
    position: relative;
    height: 400px;
  }
  
  #jumbo {
    margin-bottom: 30px;
  }