#jumbo {
    background: url(../img/banner.jpg) no-repeat center;
    background-size: cover;
    padding-top: 12rem;
    color: #f1ead0;
    position: relative;
    height: 300px;
    margin-bottom: 30px;
  h1 {
    color: #f1ead0 !important;
  }
}